
body {
    background-color: black;
    color: white;
}
.content__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.header__icon {
    height: 64px;
    width: 64px;
    padding: 10px;
}
.header__title {
    font-size: 24px ;
}
.content__form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
    
}
.form__name {
    display: flex;
}

.form__subs {
    display: flex;
    width: 80%;
    font-size: 17px;
    line-height: 25px;
   
    
}
.form__firstN, .form__lastN, .form__email, .form__pwd {
    height: 45px;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    border: 1.5px solid grey;
    color: white;
    background-color: black;
    padding: 5px;

  

}

.form__firstN {
    margin-right: 5px;
}
.form__check {
    width: 20px;
    height: 20px;
    margin: 0px;
    background-color: black;
    border: 1px solid white;
    margin-right: 9px;
}
.button__signUp {
    background-image: linear-gradient(#71b7ed, #4291d2);
    border: 1px solid #0077CC;
    border-radius: 4px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.47059;
    width: 100%;
    overflow: visible;
    padding: 4px 15px;
    text-align: center;
    touch-action: manipulation;
    white-space: nowrap;
}
.button__signUp:hover {
    background-image: linear-gradient(#5fb0ed, #3585c7);
    border-color: #1482D0;
    text-decoration: none;
  }
  
  
  .button__signUp:active {
    background-image: linear-gradient(#63a2d5, #387db5);
    border-color: #67acde;
    outline: none;
  }
  .firstN__invalid, .email__invalid, .lastN__invalid, .pwd__invalid  {
    height: 45px;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    border: 1.5px solid red;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 5px;
  }
  .error {
    color: red; 
    margin: 0px;
  }